html{
     background-color:dodgerblue;
     box-shadow: 00 70X rgba(10,10,10,10,09);
     color:black;
     font-size: 19px;
     line-height: 1.8;
     margin: 0 auto;
     max-width:900px;
     padding: 3em 3em 4em;
            
    }

body{
     background-color:darkgray;
     box-shadow: 00 70X rgba(10,10,10,10,09);
     color:black;
     font-size: 19px;
     line-height: 1.8;
     margin: 0 auto;
     max-width: 1000px;
     padding: 3em 3em 4em;
            
    }


img{
    float: right;
     max-width: 20%;
     margin-top: 60px;
}

h1,h2{
    color:red;
            
    }