h1,H2{
    color:red;
            
    }
    
 body{
     background-color:darkgray;
     box-shadow: 00 70X rgba(10,10,10,10,09);
     color:black;
     font-size: 19px;
     line-height: 1.8;
     margin: 0 auto;
     max-width: 1000px;
     padding: 3em 3em 4em;
            
    }
html{
     background-color:dodgerblue;
     box-shadow: 00 70X rgba(10,10,10,10,09);
     color:black;
     font-size: 19px;
     line-height: 1.8;
     margin: 0 auto;
     max-width:900px;
     padding: 3em 3em 4em;
            
    }
img{
    max-width: 90px;
    
}
#flotte{
    float: right;
}