body{
    background-color: azure;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;

}

h1,h2,h3,h4{
    background-color: lightpink;
        
}
    img{
        max-width: 100px;
    }
#flotte{
    float: right;
}
#texte{
    float: right;
}
html{
    background-color: gray;
}

    

