<! doctype>
<html>
    <head>
        <meta charset="utf-8">
        <title>HORAIRE</title>
        <link rel="stylesheet" href="../../css/cedrick.css">
    </head>
    <body>
        <div id="header">
            <div class="section">
                <div id="logo">
				    <img src="../../img/saio.JPG" alt=""/>
                </div>
                <ol>
                    <li><a href="cedrick.html">Accueil</a></li>
                    <li><a href="tp1.html">Formation</a></li>
                    <!--li>Image</li-->
                    <li><a href="index.html">CV</a></li>
                    <li><a href="cedrick-horraire.html">Horaire</a></li>
                </ol>
            </div>
        </div>
        <center><h1><em>Programme de déroulement de stage semestriel</em></h1></center>
        <center><table width=80% border="1">
            <tr>
                <td colspan=2 width=10% align=center>DATE</td><td rowspan="2" width=40% align=center>MATIERES</td><td rowspan="2" width=30% align=center>FORMATEUR</td><td rowspan="2" width=20% align=center>OBSERVATION</td>
            </tr>
            <tr>
                <td align=center>Jour</td><td align=center>Heure</td>
            </tr>
    <!--Lundi-->
            <tr>
                <td rowspan="2">Lundi</td><td>9h<sup>00</sup>-12h<sup>00</sup></td><td>Etude sur la création d'un Site web</td><td align=center>-</td><td>La recherche été personnelle sur Internet</td>
            </tr>
            <tr>
                <td>13h<sup>00</sup>-16h<sup>30</sup></td><td>Introduction à la création du site web</td><td>Abel LIFAEFI MBULA</td><td>Prise de contact et un peu de notion théorique sur le Site web</td>
            </tr>
    <!--Mardi-->
            <tr>
                <td rowspan="2">Mardi</td><td>9h<sup>00</sup>-12h<sup>00</sup></td><td>Etude sur la création d'un Site web suite</td><td align=center>-</td><td>La recherche été personnelle sur Internet</td>
            </tr>
            <tr>
                <td>13h<sup>00</sup>-16h<sup>30</sup></td><td>Pratique sur la création de page web</td><td>Abel LIFAEFI MBULA</td><td>Chacun de nous était à mesure de mettre en place une page en html5</td>
            </tr>
    <!--Mercredi--> 
            <tr>
                <td rowspan="2">Mercredi</td><td>9h<sup>00</sup>-12h<sup>00</sup></td><td>Création d'un site personnel</td><td align=center>-</td><td>la création s'est réalisée avec succès pour l'ensemble de stagiaire</td>
            </tr>
            <tr>
                <td>13h<sup>00</sup>-16h<sup>30</sup></td><td>Pratique sur CSS3 lié avec Html5</td><td>Abel LIFAEFI MBULA</td><td>la joincture du html5 et css3 s'est fait de trois manière, donc en l'en-tête du html, deuxième dans les balises et troisième par le lien avec un fichier créé à part</td>
            </tr>
        </table></center>
        
        <div id="footer">
				<div>
					<div>
						<h3>Commentaire</h3>
						<p>
							<span>Octobre 2016</span> Ce site est une présentation des différentes formations réaliséé au batam de l'Unikis/UniversiTIC.Par Cédrick KWASIA ILANGA
						</p>
					</div>
					<div>
						<h3>Mon Menu rapide</h3>
						<ul class="category">
							<li><a href="accueil.html">Accueil</a></li>
                            <li><a href="./TP1/tp1.html">Formation</a></li>
                            <li><a href="./ELGIN/index.html">CV</a></li>
                            <li><a href="horaire.html">Horaire</a></li>
						</ul>
					</div>
				</div>
				<p>
					&copy; copyright 2016. cédr@nne64.Technologie.com
				</p>
            </div>
    </body>
</html>