<! doctype>
<html>
    <head>
        <meta charset="utf-8">
        <title>ACCUEIL</title>
       <link rel="stylesheet" href="../../css/cedrick.css">
    </head>
    <body>
        <div id="header">
            <div class="section">
                <div id="logo">
				    <img src="../../img/saio.JPG" alt=""/>
                </div>
                <ol>
                    <li><a href="cedrick.html">Accueil</a></li>
                    <li><a href="tp1.html">Formation</a></li>
                    <!--li>Image</li-->
                    <li><a href="index.html">CV</a></li>
                    <li><a href="cedrick-horraire.html">Horaire</a></li>
                </ol>
            </div>
        </div>
        <h1 align=center><font size=72><strong><em>BIENVENU DANS LE SITE</em></strong></font></h1>
        <center><table width=10%>
            <tr class="moi">
                <td><img src="../../img/saio.JPG" alt="salut"/></td>
            </tr>
        </table></center>
        <h1 align=center>STAGE PROFESSIONNEL/CELLULE UniversiTIC-Kisangani</h1>
        
        <div id="footer">
				<div>
					<div>
						<h3>Commentaire</h3>
						<p>
							<span>Octobre 2016</span> Ce site est une présentation des différentes formations réaliséé au batam de l'Unikis/UniversiTIC. Par Cédrick KWASIA ILANGA
						</p>
					</div>
					<div>
						<h3>Mon Menu rapide</h3>
						<ul class="category">
							<li><a href="cedrick.html">Accueil</a></li>
                            <li><a href="tp1.html">Formation</a></li>
                            <!--li>Image</li-->
                            <li><a href="index.html">CV</a></li>
                            <li><a href="cedrick-horraire.html">Horaire</a></li>
                        </ul>
					</div>
				</div>
				<p>
					&copy; copyright 2016. cédr@nne64.Technologie.com
				</p>
            </div>
    </body>
</html>