<! doctype>
<html>
    <head>
        <meta charset="utf-8">
        <title>TRAVAIL PRATIQUE 1 HTML5 et CSS3</title>
        <link rel="stylesheet" href="../../css/cedrick.css">
    </head>
    <body>
        <div id="header">
            <div class="section">
                <div id="logo">
				    <img src="../../img/saio.JPG" alt=""/>
                </div>
                <ol>
                    <li><a href="cedrick.html">Accueil</a></li>
                    <li><a href="tp1.html">Formation</a></li>
                    <!--li>Image</li-->
                    <li><a href="index.html">CV</a></li>
                    <li><a href="cedrick-horraire.html">Horaire</a></li>
                </ol>
            </div>
        </div>
        <div id="titre">
            <h1 class="titre1">Cours HTML5 et CSS3</h1>
        </div>
        <div class="stitre">
            <hr align=center/>
                <h2 class="titre2">Enseignant & stagiaire</h2>
                <p>Enseignant:<strong> Abel L.MBULA</strong> (mail: <a href="http://me@abelmbula.url.ph">me@abelmbula.url.ph</a>)</p>
                <p>Stagiaires: 8</p>
            <ul>
                <li><span>Prenom</span> Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
                <li>Prenom Nom (L<sub>2</sub>, <abbr title="INSTITUT SUPERIEUR DE COMMERCE">ISC</abbr>)</li>
            </ul><br>
            <a href="http://kwasiacedro64@gmail.com">goto my mail</a>
            <h1>Horaire</h1>
            <p>Durée de formation:5heures</p>
        </div>
        <table>
            
            <tr>
                <th colspan="2" align=center>Date</th>
                <th rowspan="2" align=center>Matière</th>
            </tr>
            <tr>
                <td width=25%>Jour</td>
                <td width=25%>Heure</td>
            </tr>
            <tr>
                <td rowspan="5">Lundi</td>
                <td>13h<sup>00</sup></td>
                <td>Prise de contact</td>
            </tr>
            <tr>
                <td>13h<sup>20</sup></td>
                <td>Introduction</td>
            </tr>
            <tr>
                <td>13h<sup>50</sup></td>
                <td>HTML</td>
            </tr>
            <tr>
                <td>14h<sup>30</sup></td>
                <td>CSS3</td>
            </tr>
            <tr>
                <td>13h<sup>20</sup></td>
                <td>Introduction</td>
            </tr>
            <tr>
                <td rowspan="4">Mardi</td>
                <td>13h<sup>00</sup></td>
                <td>Mise en page</td>
            </tr>
            <tr>
                <td>13h<sup>20</sup></td>
                <td>Le blabla</td>
            </tr>
            <tr>
                <td>13h<sup>50</sup></td>
                <td>CV</td>
            </tr>
            <tr>
                <td>14h<sup>30</sup></td>
                <td>Upload</td>
            </tr>
        </table>
        
    <!--partie pied de page-->
        
        <div id="footer">
				<div>
					<div>
						<h3>Commentaire</h3>
						<p>
							<span>Octobre 2016</span> Ce site est une présentation des différentes formations réaliséé au batam de l'Unikis/UniversiTIC.Par Cédrick KWASIA ILANGA
						</p>
					</div>
					<div>
						<h3>Mon Menu rapide</h3>
						<ul class="category">
							<li><a href="../accueil.html">Accueil</a></li>
                            <li><a href="../TP1/tp1.html">Formation</a></li>
                            <!--li>Image</li-->
                            <li><a href="../ELGIN/index.html">CV</a></li>
                            <li><a href="../horaire.html">Horaire</a></li>
						</ul>
					</div>
				</div>
				<p>
					&copy; copyright 2016. cédr@nne64.Technologie.com
				</p>
            </div>
    </body>
</html>