<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>travil pratique 1 html et css3</title>
        <link rel="stylesheet" href="../css/carine.css">

    </head>
    
    <body>
      <img src="../img/carine.JPG" alt="">
        <h1><center>CURRICCULUM VITAE</center></h1> 
    
        <hr>
        <h2>IDENTITE</h2>
        <ul type="square">
            <li>NOM:BOTIKOWAMBI</li>
            <li>POST-NOM:NESSY</li>
            <li>PRENOM:CARINE</li>
            <li>LIEU ET DATE DE NAISSANCE:KISANGANI,LE 06/09/1991</li>
            <li>ETAT-CIVIL:CELIBATAIRE</li>
            <li>CHEFFERIE:YANGESE</li>
            <li>TERRITOIRE:ISANGI</li>
            <li>DISTRICT:TSHOPO</li>
            <li>PROVINCE:DE LA TSHOPO</li>
            <li>NATIONALITE:CONGOLAISE</li>
            <li>ADRESSE:5ème AV.PLATEAU</li>
            <li>CONTACT:+243 0827033712,+243 0852984281,+243 0970330928 <strong></strong>    (Email: <a href="mailto:botikowambinessycarine@.gmail.com">botikowambinessycarine@.gmail.com</a>)</li>
        </ul>
        <h2>ETUDES FAITES</h2>
        <ul type="disc">
            <li>DE 2001-2006:certificat d'études primaires au C.S.DU PROGRES.</li>
            <li>DE 2007-2013:diplôme d'Etat en PEDAGOGIE GENERALE AU L.T.M.</li>
            <li>DE 2013-2015:diplôme de graduat à l'I.S.C,option Informatique de gestion.</li>
        </ul>
        <h2>AUTRES FORMATIONS</h2>
        <ul type="square">
            <li>DE 2012-2013:Formation en informatique(MS WORD)à L'NTB.</li>
        </ul>
        <h2>LANGUES PARLEES</h2>
        <ul type=square>
        <li>Français:un peut bien</li>
        <li>Lingala:très bien</li>
        <li>Swahili:un peut bien</li>
        <li>Anglais:un peut bien</li>
        </ul>
        <p><center>Je jûre sur mon honneur que les renseignement ci- haut sont sincères et véridiques</center></p>
                    <p><center>Fait à KISANGANI,le 14/10/2016</center></p>
            
        
        