<! doctype html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>CV Personnel | Elysée</title>
            <link rel="stylesheet" href="../css/elysee.css"> 
              
    </head>
    <body>
        <h1>CURRICULUM VITAE</h1>
        <img src="../img/mbambu.jpg" alt="Elysée">
     
        <h2>IDENTITE</h2>
        <ul>
            <li>NOM<span class="column">: MBAMBU</span></li>
            <li>POSTNOM<span class="column">:  KONGBO</span></li>
            <li>PRENOM<span class="column">:  ELYSEE</span></li>
            <li>LIEU ET DATE DE NAISSANCE<span class="column">: KISANGANI LE 06/01/1983</span> </li>
            <li>NATIONALITE<span class="column">:  CONGOLAISE</span></li>
            <li>PROVINCE D'ORIGINE<span class="column">:  NORD UBANGI</span></li>
            <li>VILLE<span class="column">:  KISANGANI</span></li>
            <li>PROFESSION<span class="column">: ETUDIANTE</span></li>
            <li>ADRESSE<span class="column">:  C/TSHOPO 6 AV. N 85/74</span></li>
            <li>ETAT CIVIL<span class="column">: CELIBATAIRE</span></li>
            <li>TELEPHONE<span class="column">: 0974636519</span></li>
            <li>e-mail<span class="column">: <a href="mailto:elymbambu10@gmail.com">elymbambu10@gmail.com</a></span></li>
        </ul>
        
        <h2>ETUDE FAITES</h2>
        <ul>
            <li>2000 - 2006<span class="column">: certificat de l'etude primaire</span></li>
            <li>20006 - 2012<span class="column">: diplome de l'etude secondaire option biologie-chimie</span></li>
            <li>2013 - 2015<span class="column">: graduee en informatique de gestion</span></li>
        </ul>
        
         <h2>EXPERIENCE PROFESSIONNELLE</h2>
        <ul>
             <li>2013 a nos jours<span class="column">: journaliere a la snel au service commercial</span></li>
            <li>1 mois de prestation comme secretaire a la snel</li>
        </ul>
        
         <h2> FORMATIONS FAITES</h2>
        <u>
            <li>3 jours de formation en data card au provic</li>
            <li>stagiaire en 2014 a la snel </li>
             <li>stagiaire au batam de l'unikis depuis mois de septmbre</li>
        </u>
        
        <h3>LANGUES PARLEES</h3> <!-- Je te propose de mettre un tableau ici -->
        <table>
            <tr><td>Lingala</td><td>Langue maternel</td></tr>
            <tr><td>Français</td><td>Parlé & écrit</td></tr>
            <tr><td>Swahili</td><td>Basique</td></tr>
        </table>
        
        <h3>PERSONNE DE REFERENCES</h3>
        <ul>
            <li>CHIRIMWAMI NATHAN<span class="column">:  CHEF DE DIVISION RESEAU</span></li>
            <li>YVONNE NDONDA<span class="column">: INFIRMIERE</span></li>
            <li>SOLOMO BOOTO<span class="column">:  MARKETEUR</span></li>
        </ul>
        <p>je certifie a mon honneur que les information fournies ci-haut sont vraie et verifiable</p>
        
        <p id="texte">Fait a kisangani le 14/10/2016</p>
        
    </body>
</html>