 <! doctye html>
<html>
    <head>
    <meta charset="utf-8">
          <title>creation de site web</title>
    <link rel="stylesheet"href="../css/helene.css">    
    </head>
    <body>
        <h1><center>CURRICULUM VITAE</center></h1>
        <h2>IDENTITE</h2>
        <ol>
            <div id="flotte"> <img src="malako.jpg" alt="salut"></div>
            
            <li>NOM : MOLULA</li>
            <li>POSTENOM : MALAKO</li>
            <li>PRENOM : HELENE</li>
            <li>LIEU DE NAISSANCE: KISANGANI </li>
            <li>NATIONALITE : CONGOLAISE</li>
            <li>PROVINCE : TCHOPO</li>
            <li>VILLE : KISANGANI</li>
            <li>PROFETION : ETUDIANTE</li>
        </ol>
        <h3>ETUDE FAITE</h3>
        <P>2000 - 2006 : certificat d'etude primaire</P>
        <P>2006 - 2014 : l'obtention de Diplome d'etat option : biochimie</P>
    
        <h3>ESPERIENCE PROFESSIONNEL</h3>
        <p>2016 jusqu'a nos jours : formation sur le microsoft office</p>
        <P>2016 jusqu'a nos jours: sur le html5 & css3</P>
        <h3>LANGUE PARLEE</h3>
        <P>le français</P>
        <p>le lingala</p>
        <p>le swahili</p>
            <h4>PERSONNE DE REFERENCE</h4>
        <P>Mr chamba</P>
        <p>Peterre mukadi</p>
            <p>je jure sur mon honneur que les informations ci-dessous est vrais</p>
            <p>fait a kisangani le 14/10/2016</p>
            <p>la postulate</p>
            <p>helene molula malako</p>
        
                                                        <div id="texte"> <p>Fait à kisangani le 14/10/2016</p></div>
   </body>
</html>