<! doctype html>
<html>
     <head>
        <meta charset="utf-8">
        <title>CV | Irène MASIKA </title>
        <link rel="stylesheet" href="../css/irene.css">
    </head>
    <body>
        <img id="flotte" src="../img/irene.jpg" alt=""/>
        <p><strong>Irène MASIKA</strong></p>
        <address>Bloc/Abatoir N°179, Commune Mangobo A Kisangani<br/>
        Tél: +243 821 781 002<br/>
        Email:<a href="mailto:irenemasika@gmail.com">irenemasika@gmail.com</a><br/></address>
        <p>36ans,Mariée,Trois Enfants(11-14 ans)</p>
        
        <h1>CURRICULUM VITAE</h1>
            <h2>ETUDES FAITES</h2>
                
                    <ul>
                        <li><span>Ecole Primaire:</span> Certificat de l'école Primaire</li>
                        <li><span>Ecole Sécondaire:</span> Brévêté en coupe et couture,Duplômé en Pédagogie</li>
                        <li><span>Etude Universitaire:</span> Etudiante en Troisième Graduat en Informatique de Gestion à l'ISC KISANGANI</li>
                    </ul>
                
            
            <h2>EXPERIENCE PROFESSIONNELLE</h2>
    
                
                    <ul>
                        <li><span>2008-2010:</span> Vendeuse Marché Central(Friperie)</li>
                        <li><span>2010-2013:</span> Cuisinière Alstom HUDRO France à Nseke</li>
                        <li><span>2013-2014:</span> Gérante au restaurant MAMA JEAN</li>
                    </ul>
                

            <h2>FORMATION</h2>
        
                
                    <ul>
                        <li><span>Word</span></li>
                        <li><span>Excel</span></li>
                        <li><span>Intérnet</span></li>
                        <li><span>Access</span></li>
                    </ul>
                
            <h2>LANGUES PARLER</h2>
                
              <table>
                <tr><td>Français</td><td>Langue maternel</td></tr>
                <tr><td>Lingala</td><td>Parlé &amp; écrit</td></tr>
                <tr><td>Swahili</td><td>Basique</td></tr>
                <tr><td>Anglais</td><td>Basique</td></tr>
              </table>
                
            <h2>CENTRES D'INTERÊT</h2>
                
                    <ul>
                        <li><span>Sports:</span> Marche à Pieds et vélo</li>
                    </ul>
                
            <h2>PERSONNES DE REFFERENCES</h2>
                
                    <ul>
                        <li><span>Junias TABU LIFITA:</span></li>
                        <li><span>wivine LOBELA:</span></li>
            
                    </ul>
        <div id="texte"><p>Fait à Kisangani le 17/10/2016</p></div>
        <p><strong>Je certifie que ces renseignements sont fiables et vrai.</strong></p>
        
        
                
    </body>
</html>