<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Creation de site web </title>
        <link rel="stylesheet" href="../css/jeremie.css">
        
    </head>
    <body>
        <h1><center> CURRICULUM VITAE </center></h1>
        <h2>IDENTITE</h2>
        <ol>
            <div id="foltte"><img src="yyyy/1473196111274.jpg" alt="bonjour"></div>
            
            <li> Nom: ANGAFAHUNE </li>
            <li> Postnom: KOWENZU</li>
            <li> Prenom: JEREMIE</li>
            <li> Adresse: Home ISC-KIS </li>
            <li> Lieu et date de naissance: Wapinda le 01/04/1990</li>
            <li> Territoire: YAKOMA </li>
            <li> Province: Nord-Ubangi</li>
            <li> Nationalité: CONGOLAISE</li>
            <li> Nom du pere: KOWENZU</li>
            <li> Nom de la mere: WONZU</li>
        </ol>
        <h3>ETUDES FAITES</h3>
        <p> 2000 - 2005: Certificat d'etude primaire a l'EP BE E Koy a Wapinda</p>
        <p> 2005 - 2011: l'obtention de Diplome d'etat au Lycee maman leona a Yakoma, Option: Latin-Philo </p>
        <p> 2012 - 2015: l'obtention de Diplome de Graduat en Sciences Informatique, option: Informatique de Gestion </p>
        <h4>FORMATIONS FAITES </h4>
        <P> 2015 - 2016: Formation sur Wikipedia au Batam de l'Universite de Kisangani</P>
        <p> 2015 - 2016: Formation sur Linux au Batam de l'Universite de Kisangani</p>
        <p> 2015 - 2016: Formation sur 3G (BTL) au Direction de Shop Vodacom a Kisangani</p>
        <p> 2016 jusqu'a nos jours: Formation sur Business School a l'Institut Superieur de Commerce de Kisangani</p>
        <p> 2016 jusqu'a nos jours: Formation en HTML5 & CSS3 au Batam de l'Universite de Kisangani</p>
        <h5>LANGUES PARLEES</h5>
        <p> Francais: tres bien</p>
        <p> Lingala: tres bien</p>
        <p> Swahili: bien</p>
        <h6>PERSONNES DE REFERENCES</h6>
        <p> Job NDAMBI Assistant a l'Institut Superieur de Commerce de Kisangani, contant: 0815292542</p>
        <p> Pierre MUKADI Administrateur Reseau au Batam de l'Universite de Kisangani</p>
        <p> Je jure sur mon honneur que les renseignements fourni ci-haut sont veritable et sinceres</p>
        
                                                                    <div id="texte"> <p>Fait a kisangani, le 16/10/2016</p> </div>
        
        <p>le Postulat</p>
        <p> Jeremie ANGAFAHUNE KOWENZU</p>
    </body>
</html>