<!doctype html>
<html>
    <head>
    
        <meta charset="utf-8">
        <title >travail pratique 1 html & css3</title>
        <link rel="stylesheet"href="TP html.css">
    </head>
    <body>
        <h1><center> CURRICULUM VITAE</center></h1>
        <hr>
        <h2>IDENTITE</h2>
        <ul type ="square">
            
            <li> NOM :  EBUA</li>
            <li> POSTNOM : TINDA</li>
            <li> PRENOM : Prudence</li>
            <li> DATE DE NAISSANCE : 10/04/1992</li>
            <li> LIEU DE NAISSANCE : KISANGANI</li>
            <li> ETAT-CIVIL : CELIBATAIRE</li>
            <li> TERRITOIRE DE : BUMBA</li>
            <li> SECTEUR DE : LOEKA </li>
            <li> PROVINCE DE : L'EQUATEUR</li>
            <li> NATIONNALITE : CONGOLAISE</li>
            <li> ADRESSE :  AV SANA DE MAKISO N°12</li>
            <li> CONTACT : +243 81 48 44 584 & prudencetinda@gmail.com</li>
            
            <h2> ETUDES FAITES </h2>
            <ul type="disc">
                <li> EN 2003 : Obtention de certificat d'étude primaires au complexe scolaire MANGU</li>
                <li> EN 2010 : Obtention de diplome d'etat,option LATIN-PHILOSOPHIE</li>
                <li> EN 2015 : Obtention de diplome de graduat en science Informatique,option Informatique de Gestion à l' ISC-KISANGANI ex Province Orientale</li>
            </ul>
            
            <h2> FORMATION SUIVIE</h2>
            <ul type="square">
                <li> 2010-2012 : Formation chez SOFICOM - WATSA</li>
                <li> 2013-2014 : Formation sur office 2007 et 2013 </li>
                <li> 2014-2015 : Formatio sur SGBD Access </li>
                <li> 2015-2016 : Formation sur Excel </li>
            </ul>
            
            <h2> LANGUES PARLEES </h2>
            <ul type="square">
                <li>  Francais : Bien </li>
                <li>  Lingala  : Trés bien </li>
                <li>  Swahili  : Trés bien </li>
            </ul>
            
            <h2> PRESONNES DE REFERENCES </h2>
            <ul type="square">
                <li> Mr Fidele BADRIYO N° TEL : +243 81 63 10 461 </li>
                <li> Mr Desire EBUA N° TEL : + 244 92 43 37 676 </li>
            </ul>
            
            <p><center> Je jure sur mon honneur que les renseigments ci-dessus sont sincères et exacts.</center></p>
                                                        
                                                            <p><center> Fait à Kisangani,14/10/2016</center></p>
                                                                    
                                                                        <p><center> La postulante</center></p>
            
            
                                                                                
                                                                    <p><center> Prudence EBUA TINDA</center></p>
            
            
            
    </body>