<! DOCTYPE HTML>
<html >
     <head>
           <meta charset="utf-8">
           <title>CV personnel | Marguerritte</title>
            <link rel="stylesheet" href="../css/margueritte.css">
            
     </head>
       <body>
           <img src="../img/margueritte.jpg" alt="">
            
                <h1>CURRICULUM VITAE</h1>
           <hr>
           <h2>IDENTITE</h2>
        <ul>
            <li>Nom:TOBOTELA</li>
            <li>Post-nom:LISALA</li>
            <li>Prenom: Margueritte</li>
            <li>Lieu et date de naissance: Kisangani le 02/05/1997</li>
            <li>Etat-civil:CELIBATAIRE</li>
            <li>Chefferie:YALISIHI</li>
            <li>Territoire:BASOKO</li>
            <li>District:TSHOPO</li>
            <li>Province:TSHOPO</li>
            <li>Nationalite:CONGOLAISE</li>
            <li>Adresse:Q/Babali n°11 C/Mangobo</li>
            <li>Contact: 0858967851,0821740140</li>
            <li>Email:  <a href="mailto:botelamaguy@gmail.com">tobotelamaguy@gmail.com</a></li>
        </ul>
           <h2>ETUDES FAITES</h2>
          <ul>
            <li>2002 à 2007: Certificat d'etude primaire au complexe scolaire E.P BONINGOLI</li>
            <li>2008 à 2013: Diplôme d'Etat en Pedagogie generale</li>
            <li>2014 à 2016: G3 Informatique de gestion à l'ISP/Kis</li>
           </ul> 
           
        <h2>EXPERIENCE PROFESSIONNELLE ET AUTRES FORMATIONS</h2>
              
        <ul>
            <li>Operatrice de saisie</li>
            <li>creation de site web </li>
            <li>travaille en Airtel money</li>
            <li>stagiaire à la commune Mangobo et Unikis</li>
            <li>stagiaire à l'ecole primaire et secondaire</li>
            <li>stagiaire à l'Unikis</li>
            <li>ETC.</li>
           </ul>
           <h2>LANGUES PARLEES</h2>
             <table>
            <tr><td>Lingala</td><td>Langue maternel</td></tr>
            <tr><td>Français</td><td>Parlé & écrit</td></tr>
            <tr><td>Swahili</td><td>Basique</td></tr>
            <tr><td>Anglais</td><td>Basique</td></tr>
        </table>
        
        <h2>PERSONNES DE REFERENCE</h2>
           
         <ul>
            <li>Reverend Germain LOBELA YENGA Responsable de l'eglise locale Mangobo ABC</li>
            <li>Professeur Paul VITAMAR DG à l'ISP/Kis</li>
            <li>Mr Francis credo BIN ISOSIA Encadreur au service universiTIC de l'Unikis</li>
            <li>Etc.</li>
        </ul>
            <p>Je jure sur mon honneur que les informations ci-haut fournies sont justes et sinceres</p>
            
             <p>Fait à Kisangani 14/10/2016</p>
        </body>
    </html>